In [2]:
import pandas as pd

# Load dataset
file_path = "movies.csv"
movies = pd.read_csv(file_path)

# Preview dataset
print(movies.head())

   index     budget                                    genres  \
0      0  237000000  Action Adventure Fantasy Science Fiction
1      1  300000000                  Adventure Fantasy Action
2      2  245000000                    Action Adventure Crime
3      3  250000000               Action Crime Drama Thriller
4      4  260000000          Action Adventure Science Fiction

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  culture clash future space war space colony so...                en
1  ocean drug abuse exotic island east india trad...                en
2         spy based on novel secret agent sequel mi6                en
3  dc comics crime fighter terrorist secret ident...                en
4  based on novel mars medallion space travel pri...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  ... runtime  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577  ...   162.0
1  Captain Barbossa, long believed to be dead, ha...  139.082615  ...   169.0
2  A cryptic message from Bondâ€™s past sends him o...  107.376788  ...   148.0
3  Following the death of District Attorney Harve...  112.312950  ...   165.0
4  John Carter is a war-weary, former military ca...   43.926995  ...   132.0

                                    spoken_languages    status  \
0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1           [{"iso_639_1": "en", "name": "English"}]  Released
2  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3           [{"iso_639_1": "en", "name": "English"}]  Released
4           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title vote_average vote_count  \
0                                    Avatar          7.2      11800
1  Pirates of the Caribbean: At World's End          6.9       4500
2                                   Spectre          6.3       4466
3                     The Dark Knight Rises          7.6       9106
4                               John Carter          6.1       2124

                                                cast  \
0  Sam Worthington Zoe Saldana Sigourney Weaver S...
1  Johnny Depp Orlando Bloom Keira Knightley Stel...
2  Daniel Craig Christoph Waltz L\u00e9a Seydoux ...
3  Christian Bale Michael Caine Gary Oldman Anne ...
4  Taylor Kitsch Lynn Collins Samantha Morton Wil...

                                                crew           director
0  [{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...      James Cameron
1  [{'name': 'Dariusz Wolski', 'gender': 2, 'depa...     Gore Verbinski
2  [{'name': 'Thomas Newman', 'gender': 2, 'depar...         Sam Mendes
3  [{'name': 'Hans Zimmer', 'gender': 2, 'departm...  Christopher Nolan
4  [{'name': 'Andrew Stanton', 'gender': 2, 'depa...     Andrew Stanton

[5 rows x 24 columns]

In [7]:
# Pilih kolom yang relevan
movies = movies[["title", "genres", "overview", "vote_average", "popularity"]]

# Isi data kosong pada kolom 'overview'
movies["overview"] = movies["overview"].fillna(" ")

# Hapus baris dengan nilai kosong di kolom 'title' atau 'genres'
movies = movies.dropna(subset=["title", "genres"])

print(movies.info())

<class 'pandas.core.frame.DataFrame'>
Index: 4775 entries, 0 to 4802
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         4775 non-null   object
 1   genres        4775 non-null   object
 2   overview      4775 non-null   object
 3   vote_average  4775 non-null   float64
 4   popularity    4775 non-null   float64
dtypes: float64(2), object(3)
memory usage: 223.8+ KB
None

In [20]:
def extract_genres_simple(genre_str):
    if pd.notnull(genre_str):  # Pastikan data tidak null
        return genre_str.split()  # Pisahkan genre berdasarkan spasi
    return []

movies["genre_list"] = movies["genres"].apply(extract_genres_simple)

In [21]:
print(movies["genres"].head())

0    Action Adventure Fantasy Science Fiction
1                    Adventure Fantasy Action
2                      Action Adventure Crime
3                 Action Crime Drama Thriller
4            Action Adventure Science Fiction
Name: genres, dtype: object

In [22]:
print(movies[["title", "genre_list"]].head())

                                      title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                       genre_list
0  [Action, Adventure, Fantasy, Science, Fiction]
1                    [Adventure, Fantasy, Action]
2                      [Action, Adventure, Crime]
3                [Action, Crime, Drama, Thriller]
4           [Action, Adventure, Science, Fiction]

In [23]:
movies.to_csv("processed_movies.csv", index=False)

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# TF-IDF vektor dari overview
tfidf = TfidfVectorizer(stop_words="english")
tfidf_matrix = tfidf.fit_transform(movies["overview"])

# Matriks kemiripan
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [26]:
def recommend_movies(title, top_n=10):
    indices = pd.Series(movies.index, index=movies["title"]).drop_duplicates()
    
    # Ambil index dari film yang diminta
    idx = indices[title]
    
    # Ambil skor kemiripan untuk film tersebut
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Urutkan berdasarkan skor
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Ambil top_n film
    sim_scores = sim_scores[1:top_n+1]
    
    # Ambil judul film
    movie_indices = [i[0] for i in sim_scores]
    return movies["title"].iloc[movie_indices]

# Contoh penggunaan
print(recommend_movies("The Dark Knight"))

3                         The Dark Knight Rises
428                              Batman Returns
3854    Batman: The Dark Knight Returns, Part 2
299                              Batman Forever
1359                                     Batman
119                               Batman Begins
1181                                        JFK
9            Batman v Superman: Dawn of Justice
2507                                  Slow Burn
210                              Batman & Robin
Name: title, dtype: object